

h1{
  font-family: 'Optima';
  color: #000000;
  border: 1px solid gray;
  background-color: #ffffff;
}
h2{
  font-family: 'Optima';
  color: #000000;
  border: 1px solid gray;
  background-color: #ffffff; 
  
}

body{
  background-color: #F0F0F0;
}

p{
  color: #000000;
}

tabPanel{
  background-color: #0000ff;
}