

h1{
  text-align: center;
  border: 6px inset #1C6EA4;
  border-radius: 32px 32px 32px 32px;
  font-family: 'Optima';
  color: #000000;
}
h2{
  border: 1px inset #1C6EA4;
  font-family: 'Optima';
  color: #000000;
  
}

p{
  color: #000000;
}

tabPanel{
  background-color: #0000ff;
}